.container-details{
    box-sizing: border-box;
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    align-items: flex-start;
    background-color: #504f4f;
}

.content-details{
    width: 400px;
    height: 500px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.img-details{
    width: 200px;
    height: 250px;
    margin-bottom: 15px;

}
.list-genre{
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.text-p{
    color: #d0cfcf;
    font-size: 20px;
}
.h2{
    color: #d0cfcf;
    margin: 0;

}
.li-list-genre{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 25px;
    border: 1px solid black;
    color: #d0cfcf;
    border-radius: 15px;
    background-color: #882804;
}
.li-list-genre:hover{
    cursor: pointer;
    background-color: orangered;
    color: white;
}