.movie{
    width: 320px;
    height: 400px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: var(--var-movie-bg);


}
.movie:hover{

    border: 2px solid orangered;
}
.title{
    width: 250px;
    height: 30px;

    font-size: 15px;
    font-weight: bolder;
    text-align: center;

}
.movie img{
    border-radius: 15px;
    width: 65%;
    height: 70%;
    margin-bottom: 5px;
}