
.container{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 2px solid black;*/
    background-color: black;
}
.head-ul{
    list-style: none;
    width: 55%;
    display: flex;
    justify-content: space-around;
}
.a{
    padding-left: 160px;
    text-decoration: none;
    font-size: 20px;
    color: #f6f6f8;
    text-transform: uppercase;
}
.a.active{
    color: orangered;
    font-weight: bold;
}

.admin{
    height: 40px;
    width: 40px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 40px;
    color: white;
}
.admin-container{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-mode{

}

.container ul li.dropdown-container {
    position: relative;
}

.container ul li.dropdown-container .chevron {
    position: absolute;
    top: 50%;
    right: -24px;
    transform: translateY(-50%);
    line-height: 0;
}
.container ul li.dropdown-container:hover .chevron {
    transform: translateY(-50%) rotate(180deg);
}

.container ul li.dropdown-container .dropdown {
    display: none;
}


.container ul li.dropdown-container:hover .dropdown {
    display: flex;
}

.dropdown {
    padding-right: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-40%);
    width: 600px;
    height: 400px;
    list-style: none;
    background-color: #605959;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dropdown-li{

    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-right: 70px;*/
}
.link.active{
    font-weight: bolder;
    color: orangered;
    border-bottom: 2px solid;
    border-bottom-color: orangered;
}
.link{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.link:hover{
    font-weight: bolder;
    color: orangered;
    border-bottom: 2px solid;
    border-bottom-color: orangered;
}
.search-form{
    border: 1px solid tomato;
    display: inline-flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    background-color: white;

}
.search-form_txt{
    border: none;
    width: 200px;
    outline: none;
    font-size: 20px;
    padding-right: 10px;
    background-color: transparent;
}
.search-form_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}
.search-form_image{
    display: flex;
    align-items: center;
    justify-content: center;

}

